.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 221, 221);
}

.form,
.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
}
input{
  padding: 8px;
  border: none;
  border-radius: 8px;
}
label {
  text-align: left;
  padding: 0.1cm;
}
.submitLog, .submitReg{
  margin-top: 5px;
}

.registerButton,
.loginButton {
  background: none;
  color: rgb(69, 69, 253);
  border: none;
  margin: 0.3cm;
  text-shadow: 1px 5px 15px black;
}
